

.bread-crumbs {
    margin: 10px 0;
    max-width: 600px;
}
.bread-crumbs .col {
    padding-left: 0;
}
.goods .row .col {
    max-width: 400px;
    max-height: 600px;
    margin: 10px;
    border: 1px solid lightblue;
}